<div class="row mainContainer">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 banner">
        Pizza Stats Bro!
      </div>
    </div>
    <div class="row">
      <div class="col spacer">&nbsp;</div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning" *ngIf="pizzaCount==0" (click)="importPizzas()">Import the Pizza
              Data</button>
            <span *ngIf="pizzaCount>0">Total Pizzas: {{pizzaCount}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-dark" *ngIf="pizzaCount != 0 && !showToppingHeader"
              (click)="getFavoriteToppings()">Show Me Them Fav Toppings</button>
            <span class="header" *ngIf="showToppingHeader">Top Ten Toppings</span> <button class="plainButton"
              *ngIf="showToppingHeader" (click)="closeSection(1)">[close]</button>
          </div>
        </div>
        <div class="row" *ngIf="showToppingHeader">
          <div class="col-sm-12" *ngFor="let ft of toppingsCount;let i = index">
            <b>Number {{i+1}}:</b><br>
            {{ft.name}} on {{ft.count}} pizzas
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-dark" *ngIf="pizzaCount!=0 && !showComboHeader" (click)="getFavoriteCombo()">Shom Me
              Them Dope Combos</button>
            <span class="header" *ngIf="showComboHeader">Top Ten Combinations</span><button class="plainButton"
            *ngIf="showComboHeader" (click)="closeSection(2)">[close]</button>
          </div>
        </div>
        <div class="row" *ngIf="showComboHeader">
          <div class="col-md-12">
            <ul>
              <li *ngFor="let fc of comboCount;let i = index">
                <b>Number {{i+1}}:</b> is {{fc.combination}} with {{fc.count}} votes!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  
  ng serve
  http://localhost:4200/

-->